<%= form_for(@geostate) do |f| %>
  <% if @geostate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geostate.errors.count, "error") %> prohibited this geostate from being saved:</h2>

      <ul>
      <% @geostate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :country_id %><br/>
	<%= f.text_field :country_id %>
  </div>
  
  <div class="field">
	<%= f.label :short %><br/>
	<%= f.text_field :short %>
  </div>
  
  <div class="field">
	<%= f.label :name %><br/>
	<%= f.text_field :name %>
  </div>
  
  <div class="field">
	<%= f.label :sort_order %><br/>
	<%= f.text_field :sort_order %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
