<div class="login-container">
  <div class="login-box animated fadeInDown">
    <div class="login-logo"></div>
    <div class="login-body">
      <div class="login-title"><strong>Edit <%= resource_name.to_s.humanize %></strong></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert") %>
        <% end %>
        <div class="alert">
          <%= devise_error_messages! %>
        </div>

        <div class="form-group">
          <div class="col-md-12">
              <%= f.label :email, :class => "mylabel" %><br />
              <%= f.email_field :email, autofocus: true, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :avatar, class: "mylabel"  %>
            <%= f.file_field :avatar, :class => "form-control" %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-group">
            <div class="col-md-12">
                <em class="mylabel">Currently waiting confirmation for: <%= resource.unconfirmed_email %></em>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-md-12">
            <br>
              <%= f.label :password, :class => "mylabel" %> <i class="mylabel">(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-md-12">
            <br>
              <%= f.label :password_confirmation, :class => "mylabel" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <br>
              <%= f.label :current_password, :class => "mylabel" %> <i class="mylabel"><br>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <br>
            <%= f.submit "Update", :class =>  "btn btn-info btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="login-footer">
      <div class="pull-left">
        &copy; 2014 AppName
      </div>
      <div class="pull-right">
        <p>Unhappy? <%= button_to "Cancel my account",  registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class =>  "btn btn-info btn-block" %></p>

        <%= link_to "Back", admin_index_path %>
      </div>
    </div>
  </div>
</div>



